
*{
  margin: 0px;
  padding: 0px;
  background-color:gray;
}
body{
  width: 80%;
  background-color:gray;
  margin: 0 auto;
}

h1{
font-size: 25px;
color:aqua;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 800;
margin: 5px;
padding: 5px;
text-align: center;
}

h5{
  text-align: center;
  margin: auto;
  font-size: 15px;
}
img{
width: 25%;
margin: auto;
border-radius: 50%;
border: 5px solid beige;
display: flex;
align-items: center;
}


p{
font-size: 20px;
color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 800;
margin: 10px;
padding: 5px;
text-align: justify;

}

.parrafo1{
font-size: 18px;
color:rgb(5, 85, 81);
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 800;
margin: 10px;
padding: 5px;
text-align: justify;

}
h2{
font-size: 20px;
color:aqua;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 800;
margin: 5px;
padding: 5px;
text-align: center;
}

.parrafo2,ol{
font-size: 20px;
color:aqua;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 800;
margin: 10px;
padding: 5px;
text-align: justify;

}
h3{
  font-size: 14px;
color:rgb(29, 7, 7);
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 800;
margin: 5px;
padding: 5px;
}

.Facebook{
  background-color: #3b5998;
  border: none;
  color: wheat;
  padding: 15px;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  align-items: center;
}

.Instagram{
 background: linear-gradient(135deg, #8a3ab9, #ff0000);

  border: noe;
  color: wheat;
  padding: 15px;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  align-items: center;
}

.parrafo3{
  font-size: 18px;
color:rgb(5, 85, 81);
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 800;
margin: 10px;
padding: 5px;
text-align: justify;
}

.Linkedin{
  background-color: rgb(7, 98, 200);
  border: none;
  color: white;
  padding: 15px;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  align-items: center;
}

.Youtube{
  background-color: rgb(246, 16, 16);
  border: none;
  color: white;
  padding: 15px;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  align-items: center;
}

.boton{
  background-color:;
    text-align: center;
    margin: 25px;
}

footer{
  font-size: 25px;
  color: white;
  text-align: center;
}

